.root {
    -fx-background-color: linear-gradient(to bottom right, #4f54c8, #9094fb);
    -fx-padding: 20px;
}

.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #0a3f94;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 0, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #6e3e81;
}

.dark-blue-container {
    -fx-background-color: #0a3f94;
}

.dark-blue-container .content {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-padding: 20px;
}

.dark-blue-container .button {
    -fx-background-color: #5f64d8;
}

.dark-blue-container .button:hover {
    -fx-background-color: #9094fb;
}

.radio-buttons-container > .radio-button {
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.radio-button {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-background-color: #b3b1b1;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.radio-button:selected {
    -fx-background-color: #0a3f94;
    -fx-text-fill: white;
}